#aboutComponentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutTitle {
  font-weight: 600;
  font-size: 2em;
}
.aboutContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.aboutTextContainer {
  width: 35em;
  height: 20em;
  margin: 2em;
  margin-bottom: 0;
}
.aboutImgContainer {
  width: 33em;
  height: 20em;
}
#aboutImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.historyContainer {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(180, 212, 238, 0.6);
}
.historyText {
  margin: 1em 7em 1em 7em;
  font-weight: 400;
}
#aboutButton {
  margin-bottom: 3em;
}
