#discoverContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}
.discoverImgContainer {
  height: 27vh;
  width: 12em;
  border: 0.5rem solid rgb(88, 143, 189);
  margin: 1em;
  margin-bottom: 2em;
}
#discoverWrapper {
  display: flex;
  flex-wrap: wrap;
}
.discoverImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.discoverPara {
  margin-top: 1em;
  height: auto;
  width: auto;
  font-size: 0.7rem;
}
