#discoverContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}
#discoverTitle {
  font-size: 1.3em;
  font-weight: 600;
  border-bottom: 1px solid black;
}
.discoverImgContainer {
  height: 27vh;
  width: 12em;
  border: 0.5rem solid #aff4fe;
  margin: 1em;
  margin-bottom: 4em;
}
#discoverWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.discoverImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.discoverPara {
  margin-top: 1em;
  height: auto;
  width: auto;
  font-size: 0.7rem;
}
